<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    
    <title>Store</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        
        <div class="brand">
          <button onclick="openMenu()" class="brand-button">
            &#9776;
          </button>
          <a href="index.html">Store</a></div>
        <div class="header-links">
          <a href="signin.html">Sign In </a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <aside class="sidebar">
        <h3>Shotting Categories</h3>
        <button class="sidebar-close-button" onclick="closeMenu()">x</button>
        <ul>
          <li> <a href="/hoodies">Hoodies</a></li>
          <li><a href="/beanies">Beanies</a></li>
        </ul>
      </aside>
      


      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
            <li>
              <div class="product">
                <img src="./images/yellow.png" alt="product"></img>
              </div>
              <div class="product-name"><a href="product.html">Yellow</a></div>
              <div class="product-brand">BumbleBee</div>
              <div class="price">$60</div>
              <div class="product-ranking">4.5 stars (10 reviews)</div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer"><div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></footer>
    </div>

    <script>
      function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>



